/* Navigation Bar Styling */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 1em 0;
    z-index: 1000; /* Ensures the navbar stays above other elements */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: orange;
}

/* Add space for the navbar at the top */
body {
    padding-top: 60px;
}




body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: rgb(180, 177, 177);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

label {
    margin-left: 10px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.result-box {
    display: none;
}

#score {
    margin-bottom: 20px;
}